.row{
  margin-bottom: 0;
}

#login-page{
  height: 100%;
}

#login-page .card-panel{
  height: calc(100% - 15px);
}

.keyboard {
  height: calc(100% - 170px);
}

.keyboard table{
  height: 100%;
}

.keyboard td, #pass-container{
  text-align: center;
  font-size: 1.6em;
  color: #4CAF50;
}

.keyboard td > a{
  color: #4CAF50;
}

#pass-container i {
  position: absolute;
  margin-top: 12px;
  margin-left: calc(50% - 60px);
  color: #3f51b5;
}

#send-container{
  padding-bottom: 10px;
}

input[type=password]{
  border-bottom: 1px solid #4CAF50;
}

#send-container a{
  color: #727272;
}

input[type="password"]{
  background-color: transparent !important;
  text-align: center;
}

.login-form{
  margin: auto;
  width: 100%;
  height: 100%;
}

.login-form h4{
  margin-bottom: 0;
}

.gps-container {
  height: 56px;
  padding-top: 20px !important;
}

.btn-floating.btn-large i {
    line-height: 60px;
}

.btn-floating.btn-large {
    width: 60px;
    height: 60px;
}

td[colspan="3"]{
  padding: 0;
}

[angular-ripple] {
    position: relative;
    overflow: hidden;
  }
  .angular-ripple {
    display: block;
    position: absolute;
    background-color: #4CAF50;
    border-radius: 50%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .angular-ripple.animate {
    -webkit-animation: ripple .35s linear;
            animation: ripple .35s linear;
  }
  @-webkit-keyframes ripple {
    100% {
      opacity: 0;
      -webkit-transform: scale(2.5);
              transform: scale(2.5);
    }
  }
  @keyframes ripple {
    100% {
      opacity: 0;
      -webkit-transform: scale(2.5);
              transform: scale(2.5);
    }
  }